*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'sans-serif';
}
body{
  background-color: crimson;

}

.card{
  width: 50%;
  height: auto;
  background-color: ghostwhite;
  padding: 20p;
  margin: 20px;
  line-height: 5;
}
/* scrl bar */
::-webkit-scrollbar{
  background-color: transparent;
  /* display: none; */
}
::-webkit-scrollbar-thumb{
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 50%, #ffffff 100%);

  border-radius: 100px;
  width: 30px;
  border: 5px solid gold;
}